
/*
colors:
#7DBF3C
#91B46F
#6CA534
#C3F295
#4B7224
*/

body {
  counter-reset:section;
  background-color: #F6F6EF;
  font-family: Verdana;
  max-width: 80%;
  margin: 0 auto;
}
.big-text-field{
  display: block;

}
.site-name{
  display: inline-block;
  font-size: 40px;
}
.motto{
  display: inline-block;
}

.name-and-motto{
  display: inline-block;
  width:100%;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  /*border: 1px solid black;*/
}
#header h3{
  display: inline;
  font-size: 25px;
}

#header-img {
  position: relative;
}
#logo{
  /*margin-top: 20px;*/
  width:200px;
  height: 200px;
  background-color: white;
  border-radius: 200px;
}
#header{
  position: relative;
  margin-top: 10px;
  background-color: #7DBF3C;
  padding: 5px;
}
#header a{
  text-decoration: none;
  color: black;
}

.nav-container {
  position: absolute;
  /*float: right;*/
  right: 15px;
  top: 15px;
  display: inline-block;

}

.full-alert{
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 20px;
  font-style: italic;
}
.full-event-listing, .open-event-listing{
  overflow: hidden;
  color: black;
  position: relative;
  padding: 10px;
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: 20px;
  border: 2px solid #4B7224;
}
.full-event-listing:hover {
  background-color: #d64d4d;
}

.open-event-listing{
  overflow: hidden;
  color: black;
  position: relative;
}
.error-messages li{
  color: red;
  list-style: none;
}
.event-listing{
  padding: 10px;
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: 20px;
  border: 2px solid #4B7224;
}
.open-event-listing:hover {
  background-color: #6CA534;
}
.events-container{
  /*padding-left: 5%;*/
  /*border: 1px dashed black;*/
  width: 90%;
  margin: 0 auto;
  font-family: Helvetica;
}

.nomnom, .dbc, .logo{
  /*border: black 1px solid;*/
  display: inline-block;
  padding: 0;
}

.header-banner{
  width: 90%;
  height: 200px;
  margin: 0 auto;
  margin-top: 15px;
  /*border: black 1px solid;*/
}

.nomnom{
 margin: 0 auto;
}

#main-container{
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 40px;
  background-color: #F2EEEB;
}

.recipe-listing{
  overflow: hidden;
  position: relative;
  display: inline-block;
  padding: 10px;
  margin: 20px;
  width: 300px;
  height: 300px;
  opacity: 0.7;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}

.recipe-listing:hover{
  opacity: 1;
  color: white;
}

.hidden-recipes{
  padding: 10px;
  width: 90%;
}
.motto{
  font-size: 20px;
  font-style: italic;
}
.recipe-name{
  position: absolute;
  top: 5px;
  font-size: 40px;
  font-weight: 700;
}

.recipe-link{
  width: 300px;
}

.add-event-button {
  background-color: #6CA534;
  border-radius: 25px;
  width: 200px;
  height: 50px;
  padding-top:17px;
}

.add-event-button a {
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.edit-button {
  background-color: #6CA534;
  border-radius: 25px;
  width: 170px;
  height: 25px;
  display: inline-block;
}

.edit-button a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  margin-left: 45px;
}

.delete-button, .add-event-form {
  background-color: #6CA534;
  border-radius: 25px;
  width: 170px;
  height: 25px;
  color: white;
  border: none;
  display: inline-block;
}

.login-form {
  display: inline-block;
}

.event-details {
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 20px;
}

.meals {
  margin-bottom: 0px;
  border-bottom: 1px solid black;
}

.comment_body {
  margin-bottom:20px;
  font-style: italic;
}

.comment_info {
  font-size: 12px;
}

span {
  font-weight: bold;
}
