<!-- New Event Page -->

  <div class="error-messages">
    <ul>
      <% if @errors %>
        <% @errors.each do |error| %>
        <li><%= error %></li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div>
<!--     <p class = "login-header">Create an event</p> -->
    <form method="post" action="/events" class="login-form">
      <input type="hidden" name="event[creator_id]"value=<%=current_user.id%>><br>
      <label for="name">Name:</label>
      <input type="text" name="event[name]"><br>
      <label for="cuisine">Start Date:</label>
      <input type="date" name="event[start_date]" ><br>
      <label for="address">End Date:</label>
      <input type="date" name="event[end_date]"><br>
      <label for="city">Max People:</label>
      <input type="text" name="event[max_people]"><br>
      <label for="state">Theme:</label>
      <input type="text" name="event[theme]"><br>
      <br>
      <input class="add-event-form" type="submit" value="Create event">
    </form>
  <div>
